a(href='/') Poto

h2 Bienvenidos al chat de "{{room.name}}" 

.col
  h3 Mensajes
  .overflowable
    p(ng-repeat='message in room.messages',
      ng-class='{alert: message.user == "alert"}') {{message.user}}: {{message.text}}

  form(ng-submit='sendMessage()')
    input(ng-model='message')
    input(type='submit', value='Send')

.col
  h3 Users
  .overflowable
    p(ng-repeat='user in room.users') {{user}}
